$color-alpha: #1772FF;
$color-form-highlight: #EEEEEE;

a.brand-logo {
    font-size: 1.6rem;
    margin: 25;
}

p {
    text-align: justify;
    margin-left: 10px;
}

.disp {
    margin: 15px;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    position: relative;
}

/* 
.listdisplay {
    display: block !important;
} */

.photocontainer {
    max-width: 100%;
    max-height: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.me {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    content:url("../../resources/me.jpg");
}

.container {
    padding: 0 16px;
}

.about-section {
    padding: 15px;
    text-align: center;
    background-color: #DD052C;
    color: white;
    width: 100%;
}

.centeredTitle {
    text-align: center;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.center-vertically {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.nav-wrapper {
    background-color: #DD052C;
}

.spa {
    display: none;
}

#tabDevice {
    display: block;
}

#compassView {
    position: relative;
    text-align: center;
}

#compassImg {
    position: relative;
    top: -22px;
    left: 0;
}

.settingsLabel {
    font-size: larger;
    color: black;
}

.show {
    display: block;
}

.show option {
    font-size: xx-large;
}

.settingsbutton {
    margin: 20px;
}

table {
	width:100%;
	border:1px solid #EEEEEE;
}

.tableheader {
	display:flex;
	width:100%;
	background:#000;
	padding:(24px * 1.5) 0;
}

tr {
	display:flex;
	width:100%;
	padding:(24px * 1.5) 0;
}

tr:nth-of-type(odd) {
	display:flex;
	width:100%;
	padding:(24px * 1.5) 0;
    background: #EEEEEE;
}

td, th {
	flex: 1 1 20%;
	text-align:center;
}

th {
	text-transform:uppercase;
}